body {
  margin: 0px;
  background-image: url("/public/back1.jpg");
}

.car {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.show {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
